/* Add your custom styles here */

.home-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .carousel {
    margin-top: 20px;
  }
  .Home{
    background-color: rgb(14, 13, 13);
    padding-bottom:250px;
  }
  /* You can add more styles for your carousel, captions, etc. */
  /* Styles for the buttons section */
.buttons-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    justify-content: center;
    margin-top: 20px; /* Adjust the top margin as needed */
  }
  
  /* Styles for the buttons */
  button {
    width: 100%;/* Adjust the margin between buttons */
    padding: 10px ;
    font-size: 16px;
    cursor: pointer;
    /* Add more styles as needed */
  }
  